.darkmode {
  background-color: #14532d; /*merald-800*/
  color: #f4f4f5; /*gray-100*/
}
.lightmode {
  background-color: #6ee7b7; /*emerad-400*/
  color: #3f3f46; /*gray-700*/
}
.body {
  background-color: #14532d; /*emerald-600*/
}
