.darkmode {
  background-color: #1e3a8a; /*blue-900*/
  color: #f4f4f5; /*gray-100*/
}
.lightmode {
  background-color: #60a5fa; /*blue-400*/
  color: #3f3f46; /*gray-700*/
}
.body {
  background-color: #1e3a8a; /*blue-900*/
}
